@using CMS.Application.Role.Dto
@model CMS.Application.User.Dto.UserEditDto
@{
    ViewBag.Title = L("Users.EditUser");
    var roles = ViewBag.Roles as IReadOnlyList<RoleEditDto>; 
}

<div class="breadcrumbs" id="breadcrumbs">
    <div class="breadcrumb">
        <a href="#">@L("Users.Setup")</a>
        <a href="~/Admin/Users/Index">@L("Users.UserList")</a>
        <a href="#" class="active">@ViewBag.Title</a>
    </div>
</div>

<section id="container">
    <div class="all-margin">
        <div class="row cust-row">
            <div class="col-lg-9">
                <form action="~/Admin/Users/Edit" method="post" class="form-horizontal" role="form">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.Id)
                    @Html.HiddenFor(x => x.UserName)
                    @Html.Hidden("InitialEmail", Model.Email)
                    <div class="form-group">
                        @Html.LabelFor(x => x.UserName, new { @class = "col-md-2 col-sm-2 col-xs-12 control-label" })
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", disabled = "disabled" })
                        </div>

                        @Html.LabelFor(x => x.Email, new { @class = "col-md-2 col-sm-2 col-xs-12 control-label" })
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Email)
                        </div>
                    </div>
                    <div class="form-group" style="margin-left:-10px; margin-right:-10px;">
                        <label class="col-md-2 col-sm-2 col-xs-12 control-label"></label>
                        <div class="col-md-8 col-sm-10 col-xs-12 info text-center">
                            @L("Users.ModifyPassword")
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.Password, new { @class = "col-md-2 col-sm-2 col-xs-12 control-label" })
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Password)
                        </div>

                        @Html.LabelFor(x => x.ConfimPassword, new { @class = "col-md-2 col-sm-2 col-xs-12 control-label" })
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            @Html.PasswordFor(x => x.ConfimPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.ConfimPassword)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.FirstName, new { @class = "col-md-2 col-sm-2 col-xs-12 control-label" })
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.FirstName)
                        </div>

                        @Html.LabelFor(x => x.LastName, new { @class = "col-md-2 col-sm-2 col-xs-12 control-label" })
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.LastName)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 col-sm-2 col-xs-12 control-label"></label>
                        <div class="col-md-8 col-sm-10 col-xs-12">
                            <ul class="ul-list">
                                <li class="title" style="border-bottom:1px solid #ccc; ">@L("Users.AssignedRolesToUser")</li>
                                <li>
                                    <ul class="ul-chk-list">
                                        @foreach (var role in roles)
                                        {
                                            var chkNameOrId = "Role_" + role.Id;
                                            var userRoleName = "UserRole_" + role.Id;
                                            var info = Model.UserRoles.FirstOrDefault(x => x.RoleId == role.Id && x.UserId == Model.Id);
                                            var strChecked = string.Empty;
                                            Guid? userRoleId = null;
                                            if (info != null)
                                            {
                                                strChecked = info.Status ? "checked" : "";
                                                userRoleId = info.Id;
                                            }

                                            <li class="gray-bg">
                                                <label for="@chkNameOrId">
                                                    <input type="hidden" name="@userRoleName" value="@userRoleId" />
                                                    <input type="checkbox" id="@chkNameOrId" name="@chkNameOrId" @strChecked />
                                                    <span>@role.DisplayName</span>
                                                </label>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 col-sm-2 col-xs-12 control-label"></label>
                        <div class="col-md-8 col-sm-10 col-xs-12 text-center">
                            <a href="~/Admin/Users/Index" class="btn btn-info btn-sm">@L("Form.Cancel")</a>
                            <span class="btn-space"></span>
                            <button type="submit" class="btn btn-primary btn-sm">@L("Form.Save")</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>