@model System.Collections.Hashtable
@{
    ViewBag.Title = Html.Lang("Dashboard");
    var table = ViewBag.Table;
    
}
<div class="breadcrumbs" id="breadcrumbs">
    <div class="breadcrumb">
        <a href="#" class="active">@ViewBag.Title</a>
    </div>
</div>

<section id="container">
    <nav class="navbar navbar-default navbar-custom navbar-border-bottom">
        <div class="row clear-lr-margin">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 clear-lr-padding">
                <div class="navbar-header">
                    @*<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-type">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>*@
                    <ul class="nav-tools">
                        <li><a href="~/Admin/Dashboard/Index" class="nav-btn dashboard-active"><i class="fa fa-dashboard"></i><span>@Html.Lang("Dashboard")</span></a></li>
                        <li><a href="~/Admin/Dashboard/Configuration" class="nav-btn"><i class="fa fa-gears"></i><span>@Html.Lang("Configuration")</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 clear-lr-padding">

            </div>
        </div><!-- /.row -->
    </nav>

    <div id="dashboard">
        <div class="row cust-row">
            <div class="wrapper-box">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="mini-box">
                        <span class="box-icon bg-info">
                            <i class="fa fa-users"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">@table["Users"]</p>
                            <p class="text-muted">
                                <span>@Html.Lang("Total Users")</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="mini-box">
                        <span class="box-icon bg-google-plus">
                            <i class="fa fa-newspaper-o"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">@table["News"]</p>
                            <p class="text-muted">
                                <span>@Html.Lang("Total News")</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="mini-box">
                        <span class="box-icon bg-success">
                            <i class="fa fa-picture-o"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">@table["Cases"]</p>
                            <p class="text-muted">
                                <span>@Html.Lang("Total Cases")</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="mini-box">
                        <span class="box-icon bg-warning">
                            <i class="fa fa-reorder"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">@table["Products"]</p>
                            <p class="text-muted">
                                <span>@Html.Lang("Total Products")</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrapper-panel-box">
                <div class="panel panel-default">
                    <div class="panel-heading">@Html.Lang("System Information")</div>
                    <div class="panel-body">
                        <div class="form-group panel-row-bg panel-row">
                            <label class="col-md-2 col-sm-3 col-xs-12 control-label">@Html.Lang("System Version")</label>
                            <div class="col-md-4 col-sm-5 col-xs-12">
                                信息管理系统 V1.0
                            </div>
                        </div>
                        
                        <div class="form-group  panel-row">
                            <label class="col-md-2 col-sm-3 col-xs-12 control-label">@Html.Lang("Platform Version")</label>
                            <div class="col-md-4 col-sm-5 col-xs-12">
                                @Environment.OSVersion
                            </div>
                        </div>
                        <div class="form-group panel-row-bg panel-row">
                            <label class="col-md-2 col-sm-3 col-xs-12 control-label">@Html.Lang("Website/IP")</label>
                            <div class="col-md-4 col-sm-5 col-xs-12">
                                @HttpContext.Current.Request.Url.Host
                            </div>
                        </div>
                        <div class="form-group   panel-row">
                            <label class="col-md-2 col-sm-3 col-xs-12 control-label">@Html.Lang("Server Engine")</label>
                            <div class="col-md-4 col-sm-5 col-xs-12">
                                @Request.ServerVariables["Server_SoftWare"]
                            </div>
                        </div>
                        <div class="form-group panel-row-bg panel-row">
                            <label class="col-md-2 col-sm-3 col-xs-12 control-label">@Html.Lang("Runtime of the system")</label>
                            <div class="col-md-4 col-sm-5 col-xs-12">
                                @((Environment.TickCount / 0x3e8) / 60)分钟
                            </div>
                        </div>
                        <div class="form-group panel-row">
                            <label class="col-md-2 col-sm-3 col-xs-12 control-label">@Html.Lang("Current Time")</label>
                            <div class="col-md-4 col-sm-5 col-xs-12">
                                @DateTime.Now.ToString("yyyy-MM-dd HH:mm")
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

