@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/styles/css")
    @Styles.Render("~/Content/jqui")
    @Styles.Render("~/Content/ueditor")
    @Styles.Render("~/Content/styles/st")
    @Styles.Render("~/Content/flags/banner")
    @RenderSection("styles", false)

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bs")
    @Scripts.Render("~/bundles/jqui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ueditor")
    @Scripts.Render("~/bundles/jqplugins")
</head>
<body>

<div class="wrapper">

    @Html.Action("Header", "Layout", new {currentPageName = ViewBag.CurrentPageName})

    <div class="primary-content">
        @Html.Action("Carte", "Modules")
        <section id="main-container">
            @RenderBody()
        </section>
        <footer class="footer">
            <p>版权所有 © 2006-@DateTime.Now.Year 备案号：</p>
        </footer>
    </div>

</div>

@if (ViewBag.HasMessage != null && Convert.ToBoolean(ViewBag.HasMessage))
{
    <div class="message-box">
        <div class="success @TempData["MessageType"]">
            @Html.ValidationSummary("", new {@class = "summary"})
        </div>
    </div>
}

<div id="dlgload" title="Loading" style="display: none;">
    <div class="ui-dialog-loading">
        <p style="font-size: 40px;">
            <i class="fa fa-spinner fa-spin"></i>
        </p>
        <p style="margin-top: 10px;">
            <strong>@L("Page.Loading")</strong>
        </p>
    </div>
</div>

<div id="dlgmsg" title="Information" style="display: none;">
    <div class="ul-table" style="margin: 15px 0 10px 0;">
        <ul class="ul-table-row">
            <li style="border: none; width: 20%; padding-left: 20px;"><i class="fa fa-info-circle" style="font-size: 30px;"></i></li>
            <li style="border: none; width: 80%; padding: 0 10px 0 10px;">
                <p id="dlgmsg-text"> </p>
            </li>
        </ul>
    </div>
</div>
</body>

<script src="~/Abp/Framework/scripts/abp.js" type="text/javascript"></script>
<script src="~/AbpScripts/GetScripts" type="text/javascript"></script>
@Scripts.Render("~/bundles/custom")
@RenderSection("scripts", required: false)
</html>
